.nav-playlist-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    /* gap: 1em; */
}

.playlist-item {
    display: table-cell;
    width: 100%;
    text-align: left;
    padding: 0.5em 0;
    box-sizing: border-box;
}

.playlist-item:first-of-type{
    padding-top: 1em;
}