.playlist-page {
    width: 100%;
    padding: 5em;
}

.playlist-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playlist-photo {
    border: 2px solid;
    width: 10vw;
    height: 10vw;
}

.songlist-header {
    display: flex;
    justify-content: space-between;
    margin-top: 5em;
    border-bottom: 2px solid;
}